/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font, sans-serif);
  font-weight: var(--wght, 400);
  color: var(--color, #000);
  background: var(--bg-img, url("../svg/pattern-light.svg"))
    var(--bg-color, #fff) fixed;
  background-size: 4px;
}
.header {
  margin-block: 100px;
  padding-block-start: 120px;
  background: var(--bg-color);
  border: 2px solid var(--color);
  line-height: 1;
}
.header__logo {
  font-family: var(--accent-font, sans-serif);
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}
.header__logo .header__title {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}
.header__theme-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding: 25px;
}
.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.theme-menu__item {
  font-family: var(--accent-font);
  font-size: 0.875rem;
  line-height: 1;
}
.theme-menu__button {
  padding: 0;
  margin-left: 19px;
  background: transparent;
  border: transparent;
  text-transform: uppercase;
  position: relative;
  transition: opacity 0.3s ease;
}
.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.theme-menu__button:focus {
  outline: transparent;
  opacity: 0.6;
}
.theme-menu__button:focus-visible {
  opacity: 0.6;
}
.theme-menu__button:not(:disabled)::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: var(--color);
  transition: width 0.3s ease;
  position: absolute;
  bottom: -2px;
}
.theme-menu__button:focus-visible::after {
  width: 100%;
}
.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}
.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -19px;
  animation: arrow-move 0.5s ease-in-out infinite alternate;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.card {
  background: var(--color);
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  padding: 2px;
  gap: 2px;
}
.card__title {
  font-weight: var(--accent-wght);
  padding: 4px 10px 6px;
  font-size: 1.125rem;
  line-height: calc(11 / 9);
  background: var(--bg-color);
}
.card__content {
  padding: 25px;
  gap: 25px;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
}
.card__text {
  gap: 27px;
  display: flex;
  flex-direction: column;
  line-height: calc(7 / 6);
}
.card__buttons {
  display: flex;
  gap: 12px;
  justify-content: end;
}
.card__button {
  padding: 0;
  background: transparent;
  cursor: pointer;
  border: 2px solid transparent;
}
.card__button:focus {
  outline: transparent;
}
.card__icon-button {
  line-height: 0;
}
.card__icon-button:focus-visible {
  border-color: var(--color);
}
.like-icon {
  margin-block: -1px;
}
.contour {
  fill: var(--color);
  transition: fill 0.1s linear;
}
.main-body {
  transition: fill 0.3s linear;
}
.core {
  transition: fill 0.3s 0.03s linear;
}
.sparks {
  opacity: 0;
}
.like-icon:hover {
  & .core {
    fill: var(--color);
    transition: fill 0.3s linear;
  }
  & .main-body {
    fill: var(--color);
    transition: fill 0.3s 0.05s linear;
  }
}
.like-icon:active {
  & .core {
    fill: var(--fill);
    transition: fill 0.3s linear;
  }
  & .main-body {
    fill: var(--fill);
    transition: fill 0.3s 0.05s linear;
  }
}
.like-icon.is-liked {
  & .core {
    fill: var(--fill);
    transition: fill 0.3s linear;
  }
  & .main-body {
    fill: var(--fill);
    transition: fill 0.3s 0.03s linear;
  }
  & .contour {
    fill: var(--fill);
    transition: fill 0.3s 0.06s linear;
  }
  & .heart {
    transform-origin: center;
    animation: heart-scale 0.3s 0.1s ease-in alternate;
  }
  .sparks {
    animation: sparks-flash 0.3s 0.3s ease-in alternate;
  }
}
.card__like-button {
  display: flex;
  inline-size: 130px;
  border-color: var(--color);
  transition: box-shadow 0.3s ease;
}
.card__like-button:focus {
  box-shadow: 2px 2px 0 0;
}
.button-fill {
  position: relative;
  transition: color 1s ease;
}
.button-fill:hover {
  color: var(--bg-color);
}
.button-fill::before {
  position: absolute;
  content: "";
  display: block;
  inset: 0;
  background: var(--color);
  transform: scaleX(0);
  transform-origin: 0;
  transition: transform 0.5s ease-in-out;
}
.button-fill:hover::before {
  transform: scaleX(1);
}
.button__text {
  font-family: var(--accent-font);
  font-size: 0.875rem;
  line-height: 0.9;
  margin: auto;
  z-index: 1;
}
.footer__button {
  margin: 50px auto 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--color);
  background: var(--bg-color);
  padding: 16px 18px;
}
.floppy-icon {
  fill: currentColor;
  inline-size: 28px;
  block-size: 28px;
  z-index: 1;
  color: currentColor;
}

@media (width > 375px) {
  .header,
  .main,
  .footer {
    width: 100%;
    max-width: 700px;
    margin-inline: auto;
  }
  .header {
    padding-block-start: 136px;
  }
  .card__buttons {
    gap: 19px;
  }
  .footer__button {
    flex-direction: row;
    padding: 12px 15px;
  }
}

@keyframes arrow-move {
  from {
    left: -19px;
  }
  to {
    left: -15px;
  }
}
@keyframes heart-scale {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}
@keyframes sparks-flash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
