/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font, "Arial", sans-serif);
  font-variation-settings: "wght" var(--wght, 400);
  color: var(--color, #000);
  background-image: var(
    --bg-gradient,
    repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(#d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0 0.01vh, #1a1a1a)
  );
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-block: 100px;
}
.header {
  inline-size: min(100%, 700px);
  margin-inline: auto;
  padding-block-start: 120px;
  background: var(--bg-color, #fff);
  border: 2px solid var(--color, #000);
  line-height: 1;
}
.header__logo {
  font-family: var(--accent-font, fantasy);
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}
.header__logo .header__title {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}
.header__theme-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  padding: 25px;
}
.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.theme-menu__item {
  font-family: var(--accent-font, fantasy);
  font-size: 0.875rem;
  line-height: 1;
}
.theme-menu__button {
  padding: 0;
  margin-left: 19px;
  background: transparent;
  border: transparent;
  text-transform: uppercase;
  position: relative;
  transition: opacity 0.3s ease;
}
.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.theme-menu__button:focus {
  outline: transparent;
  opacity: 0.6;
}
.theme-menu__button:focus-visible {
  opacity: 0.6;
}
.theme-menu__button:not(:disabled)::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: var(--color, #000);
  transition: width 0.3s ease;
  position: absolute;
  bottom: -2px;
}
.theme-menu__button:focus-visible::after {
  width: 100%;
}
.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}
.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -19px;
  animation: arrow-move 0.5s ease-in-out infinite alternate;
}
.main {
  inline-size: min(100%, 700px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.card {
  background: var(--color, #000);
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  padding: 2px;
  gap: 2px;
}
.card__title {
  font-variation-settings: "wght" var(--accent-wght, 700);
  padding: 4px 10px 6px;
  font-size: 1.125rem;
  line-height: calc(11 / 9);
  background: var(--bg-color, #fff);
}
.card__content {
  padding: 25px;
  gap: 25px;
  display: flex;
  flex-direction: column;
  background: var(--bg-color, #fff);
}
.card__img-wrapper {
  position: relative;
  font-size: 0;
}
.card__img {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.filter-brightness {
  filter: brightness(1.5);
}
.card__label {
  position: absolute;
  top: 25px;
  right: 13px;
  font-family: var(--accent-font, fantasy);
  font-size: initial;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
    1px 1px 0 var(--bg-color),
    1px -1px 0 var(--bg-color),
    -1px 1px 0 var(--bg-color),
    -1px -1px 0 var(--bg-color);
}
.card__text {
  gap: 27px;
  display: flex;
  flex-direction: column;
  line-height: calc(7 / 6);
}
.card__buttons {
  display: flex;
  gap: 4px;
  justify-content: end;
}
.card__button {
  padding: 0;
  background: transparent;
}
.card__button:focus {
  outline: transparent;
}
.card__icon-button {
  line-height: 0;
  cursor: pointer;
  border: 2px solid transparent;
}
.card__icon-button:focus-visible {
  border: 2px solid var(--color, #000);
}
.card__like-button {
  display: flex;
  min-inline-size: 130px;
}
.button-fill {
  position: relative;
  border: 2px solid var(--color, #000);
  background: var(--bg-color, #fff);
  transition:
    color 1s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
  color: var(--bg-color);
}
.button-fill::before {
  position: absolute;
  content: "";
  display: block;
  inset: 0;
  background: var(--color, #000);
  transform: scaleX(0);
  transform-origin: 0;
  transition: transform 0.5s ease-in-out;
}
.button-fill:hover::before {
  transform: scaleX(1);
}
.button-fill:focus {
  outline: transparent;
  box-shadow: 2px 2px 0 0 var(--color, #000);
}
.button-fill:focus-visible {
  border-color: var(--color, #000);
}
.button-fill .floppy-icon,
.button-fill .button__text {
  mix-blend-mode: difference;
}
.button__text {
  font-family: var(--accent-font, fantasy);
  font-size: 0.875rem;
  line-height: 0.9;
  margin: auto;
  z-index: 1;
}
.filter-sepia {
  filter: sepia(0.75);
}
.blockquote {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.quote-author {
  text-align: end;
}
.filter-contrast {
  filter: contrast(1.5);
}
.filter-hue-rotate {
  filter: hue-rotate(90deg);
}
.filter-invert {
  filter: invert(1);
}
.filter-grayscale {
  filter: grayscale(0.75);
}
.filter-blur {
  filter: blur(1px);
}
.filter-multi {
  filter: brightness(125%) saturate(125%) contrast(125%);
}
.save-button {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--color, #000);
  padding: 15px 20px;
}
.floppy-icon {
  fill: currentColor;
  inline-size: 28px;
  block-size: 28px;
  z-index: 1;
  color: currentColor;
  flex-shrink: 0;
}
.dialog[open] {
  background: var(--bg-color);
  border-color: var(--color);
  display: flex;
  flex-direction: column;
  inset: 0;
  gap: 30px;
  padding: 30px 40px;
  max-inline-size: calc(100% - 34px);
  text-transform: uppercase;
}
.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}
.dialog__content {
  color: var(--color);
  display: flex;
  gap: 20px;
  align-items: center;
}
.dialog__content .floppy-icon {
  inline-size: 39px;
  block-size: 39px;
}
.dialog__content .button__text {
  line-height: 1.5;
}
.dialog__form {
  inline-size: 100%;
}
.dialog__button {
  inline-size: 100%;
  padding: 8px 17px 6px;
  text-transform: uppercase;
}
@media (width > 375px) {
  .header {
    padding-block-start: 136px;
  }
  .card__label {
    position: absolute;
    right: 25px;
  }
  .save-button {
    flex-direction: row;
  }
  .floppy-icon {
    width: 21px;
    height: 21px;
  }
  .dialog[open] {
    padding: 30px;
    max-inline-size: 353px;
  }
}
@supports ((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .card__label {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}
