:root {
  --font: "Inter-Variable";
  --accent-font: "PressStart2P-Regular";
  --wght: 400;
  --accent-wght: 700;
  --color: #000;
  --bg-color: #fff;
  --bg-img: url("../svg/pattern-light.svg");
  --fill: #f00;
}